---
author: Kolen Cheung
title: Pandoc filter for ipynb
description: This will becomes pandoc's meta-block.
---

# Example

An example with some markdown texts.

Compare [source](../example/) and [output](../example-output/).

Below we'll write some Python code that will becomes invisible after pannb filtering.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(9).reshape(3, 3))

However, the HTML output of these cells should be visible, and converted to pandoc's internal format.

For example, the below table will be valid in LaTeX output.

In [2]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8